/*Basic Component*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #fff;
    font-family: 'Lato','Arial',sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100vh;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Header*/
.heading-page
{
    background-image: url(../Images/background-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:90%; 
   
}


.main-content
{
    margin: 0px 500px 0 190px;
    color: #fff;
    line-height: 2rem;
    padding:150px 0 0 0;
    position: absolute;
    top:25%;
    left:0;
}

.royal-title 
{
    font-size: 415%;
    margin: 50px 0 10px 0;
}
/*Button*/
.btn{
    display: inline-block;
    text-decoration: none;
}

.btn-rectangle-men:link,
.btn-rectangle-men:visited
{
    
    box-shadow: inset -250px 0 0 0 #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    padding: 15px 77px;
    font-size: 80%;
    margin: 20px 15px 50px 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-rectangle-wom:link,
.btn-rectangle-wom:visited
{
    box-shadow: inset -250px 0 0 0 #fff;
    border: 2px solid #fff;   
    color: #000;
    padding: 15px 77px;
    font-size: 80%;
    margin: 20px 0 50px 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-rectangle-men:hover,
.btn-rectangle-men:active
{
      box-shadow: inset 0 0 0 0 #fff;
      color: #fff !important;
}

.btn-rectangle-wom:hover,
.btn-rectangle-wom:active
{
      box-shadow: inset 0 0 0 0 #fff;
      color: #fff  !important;
}



.btn-allmens
{
    box-shadow: inset -250px 0 0 0 #000 !important;
    border: 2px solid #000 !important;   
    color:#fff !important;
    font-size: 90%;
    padding:0.7rem 4.8rem;
    margin: 10% 0 0 40%;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-allmens:hover
{
      box-shadow: inset 0 0 0 0 #000 !important;
      color: #000 !important;
      text-decoration:none;
}

.btn-sign-up
{
    box-shadow: inset -120px 0 0 0 #fff;
    border: 2px solid #fff;
    color: #000;
    padding:1rem 1.7rem 0.9rem 1.7rem;
    font-size:90%;
    font-weight: 600;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-sign-up:hover{
    box-shadow: inset 0 0 0 0 #fff;
    color: #fff !important;
    text-decoration:none;
}
/*nav-bar*/
.nav-bar
{
    padding: 20px 0px 10px 0px;
    max-width: 100%;
    margin: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: inline;
    box-shadow: inset 0px 0px 1000px #000;
    z-index: 2;
}

.nav-bar a
{
    list-style: none;
    text-decoration: none;
    color: #fff;  
}

/* .offer
{
    color:white;
    text-decoration: none;
    height:6%;
    width:8%;
    text-align: center;
    background-color: #000;
    position: fixed;
    bottom:150;
    left:0;
    border-radius: 0 0 5px 5px;
    transition: height 0.3s;
   
}

.offer:hover
{
  height: 7%;
} */

.help
{
    height:6%;
    width:7%;
    background-color:#1d1380;
    color:#fff !important;
    position: fixed;
    text-align: center;
    padding: 3px 10px;
    font-weight:700;
    right:1%;
    border-radius: 50px;
    font-size:100%;
    bottom:2%;
    cursor: pointer;
    padding-top: 6px;
    z-index: 1;
}

.nav-right 
{ 
    float: right;
    
}

.nav-left
{
    float: left;
    margin-left: 50px;
}

.nav-right li 
{
    display: inline;
    margin-right: 35px;
    font-size: 90%;
   
}

.nav-left li 
{
    display: inline;
    margin-right: 35px;
    font-size: 90%;
    font-weight: 500;

}

.nav-right li a:hover
{
    text-decoration: none;
    color:#fff;
}
.nav-left li a:hover
{
    text-decoration: none;
    color:#fff;
}
.nav-bar img{
    color: #fff;
}

.title-greats
{
    text-transform: uppercase;
    font-size: 160%;
    letter-spacing: 4px;
    font-weight: 600;
    padding-bottom: 20px;

}

.nav-right li .dot
{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    text-align: center;
    padding:2px 0 0 0px;
    width: 25px;
    display: inline-block;
}
/*icon*/
.search-icon
{
    vertical-align: top;
}

.chevrons
{  
   text-align: right;
   margin-bottom:100px;
   
}

.left-section
{
    height:3%;
    width:3%;
   
}
.right-section
{
    height:3%;
    width:3%;
    cursor: pointer;
}

.icon-facebook
{
    border:1px solid #323233;
    border-radius:25px;
    padding:0.5rem;
    background-color: #323233;
}
.icon-facebook:hover
{
    background-color: #89898A;
}
/*grid*/
.span-1-of-2 {
   width:49.8%;
}

.span-2-of-2
{
    width: 100%; 
}

.span-1-of-4
{
    width: 28.3%;
}

.span-1-of-5 { 
     width: 100%;
}




/*section-Typeshoe*/
.section-Typeshoe
{
    max-width:80%;
    margin: auto;
    height: auto;
    padding: 4rem 0 0 0;
}

.shoe-type
{
    text-align: center;
}


.opt-men
{
    color: #000;
    font-weight: 600;
    border-bottom: 1.5px solid #000;
    padding: 1rem;
}

.opt-men:hover
{
    text-decoration: none;
    color: #000;
}
.opt-wom
{
    text-decoration: none;
    color: #bbc9cd;
    font-weight: 600;
    margin: 0px 0px 90px 0px;
}
.opt-wom:hover
{
    text-decoration: none;
    color: #000;
}

.shoe-type p{
    text-align: center;
    margin-top: 2rem;
}

.Img-boxes img
{
    width: 100%;
    height: 100%;
    margin:10px 20px 15px 0;

}





.title-shoe
{
    font-size:85%;
    font-weight: 600;
    float: left;
    color: #000;
}

.title-shoe:hover
{
    text-decoration:none;
    color: #000;
}
.model-shoe
{
    font-size:85%;
    font-weight: 600;
    float: right;
    color: #000;
}
.model-shoe:hover
{
    text-decoration:none;
    color: #000;
}
.brand-shoe
{
    font-style: italic;
    font-size:85%;
    /* margin:35px 0 0 15px; */
    color: #000;
}
.brand-shoe:hover
{
    text-decoration:none;
    color: #000;
}

/*section-devoe*/
.section-wom-devoe
{
    margin-top:10%;
    max-width: 96%;
}

.leather-wom-shoe{
    height: 90%;
    width: 95%;
}

.wom-shoes
{
    padding-top: 5%; 
}

#women
{
    font-size:120%;
}
.wom-shoes h2
{
  margin-top:2%;
  font-weight:700;   
}
.devoe-wom img
{
    width: 100%;
    height: 100%;
    margin:10px 20px 15px 0;
}

.devoe-wom
{
    margin-top: 2%;
}

/*Section-Quality*/
.section-quality
{
    max-width:100%;
    height:auto;
    overflow: hidden;
}

.quality-heading
{
    padding-bottom: 5%;
    padding-top:4%;
}
.quality-heading h2
{
    margin:auto;
    width: 50%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3%;
}

.learn-more
{
    color:#000;
    font-weight:600;
    font-size:110%;
    margin: 0 0 0 46%;
    border-bottom: 1.5px solid #000;
    padding: 1rem;
}

.learn-more:hover
{ 
    text-decoration:none;   
    color:#000;
}

.quality-content img{
    height:70%;
    width:100%;
    margin: 0
}

.quality-content h6{
    padding-top: 3%;
}

/*section-visit-us*/
.section-visit-us
{
    max-width: 100%;
    height:auto;
    overflow: hidden;
    margin-top:5%;
}

.visit-us-heading
{
    padding-bottom: 3%;
    max-width: 80%;
    margin:auto;
}
.visit-us-heading img{
    margin-bottom:0.5%;
}
.visit-us-heading a
{   color:#000; 
   font-size:110%;
   font-weight: 600;
  
}

.visit-us-heading a:hover
{ 
   color:#000; 
}


.visit-us-heading span
{
    position: relative;
    left:70%;
    top:0;
}

.visit-us-images .col
{
    display: inline-block;
    padding:0.05rem;
}
.visit-us-images .col img
{
    width: 100%;
    height:60%;

}

.visit-us-content
{
   margin-top: -8%;
}

.visit-us-content h6{
    font-size:90%;
}

.visit-us-content span
{
    font-size:85%;
}

.visit-con-1
{
    margin-right: 2%;
}

/*footer*/
.footer
{
    height:50%;
    background-color: #141415;
    max-width: 100%;
    margin-top: 3rem;
    color:#fff;
    padding : 2rem 0;
}

.footer-lef-con h2{
    font-weight: 600;
}

.footer-lef-con p{
    color: #89898A;
    font-size:90%;
    width:28%;
    margin-bottom: 3%;
}

#email
{
    border:1px solid #fff;
    background-color:#141415;
    padding: 0.9rem 3rem;
    border-radius: 0 !important;
    color:#fff;
}

.footer-lef-con span{
    border:1px solid #fff;
    padding: 1rem 0rem 1.1rem 0rem;
    
}

::placeholder
{
    color:#fff;
}

.social-icons li
{
    list-style: none;
    display: inline-block;
    margin-right: 1%;
    margin-top: 5%;
}

.footer-right-con
{
    float: right;
    margin-bottom:50%;
    overflow: hidden;
    clear: both;
    
}

.footer-right-con ul
{
    display: inline-block;
    margin-right:0;
}
.footer-right-con li
{
    list-style: none;
    
}

.foot-head
{
    color:#fff;
    font-size:90%;
}

.foot-con 
{
    color: #89898A;
    font-size:90%;
}

.fo-con li{
    display: inline-block;
    margin-right: 2%;
    position: relative;
    bottom:0%;
    left:50%;

}
.foot-fo-head
{
    color:#fff;
    font-size:60%;
}

.foot-fo-con 
{
    color: #89898A;
    font-size:60%;
}


/*Media Queries*/
@media(max-width:960px)
{

  .main-content
  {
     margin-left:1%;
  }
  .royal-title
  {
      font-size:260%;
  }
  .btn-rectangle-men:link,
  .btn-rectangle-men:visited
  {
      padding:3% 10%;
  }
  .btn-rectangle-wom:link,
  .btn-rectangle-wom:visited
  {
      padding:3% 10%;
  }
  .help
  {
     width: 12%;
     height: 6.8%;
     padding-top:1%;
  }
  .Img-boxes
  {
    padding-bottom: 5%;
  }
  .btn-allmens
  {
      padding:0.7rem 3.5rem;
  }
  .leather-wom-shoe{
      height:100%;
      width:100%;
  }
  .wom-shoes
  {
      padding-top:3%;
  }
  .quality-heading h2
  {
      font-size: 150%;
      font-weight: 500;
      width:80%;
      margin-top:5%;
  }
  .learn-more{
      margin:0 0 0 42%;
  }
  .quality-content img
  {
      width:100%;
      height:50%;
  }
  .visit-us-heading 
  {
      margin:auto;
      max-width: 95%;
  }
  .visit-us-heading span
  {
      position: relative;
      left:62%;
      top:0;
  }
  .visit-us-content
  {
      font-size:80%;
  }
  .footer-lef-con h2
  {
      font-size: 150%;
  }
  .footer-lef-con p
   {
        font-size: 80%;
        width:30%;
        margin-bottom: 5%;     
   }
   #email
   {
       padding:0.5rem 1rem;
   }
   .btn-sign-up
   {
       padding: 0.6rem 1rem;
   }
   .footer-lef-con span 
   {
       padding:0.6rem 0rem 0.65rem 0.1rem;
   }
   .social-icons li 
   {
      margin-top: 10%;
   }
} 

@media(max-width:480px)
{
    
}