/*Basic Component*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    background-color: #fff;
    font-family: 'Lato','Arial',sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    height: 100vh;
    margin: auto;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*Header*/
.heading-page
{
    background-image: url(../Images/background-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:90%; 
    position: absolute;
    top:0;
    right:0;
    left:0;
}


.main-content
{
    margin: 200px 500px 0 190px;
    color: #fff;
    line-height: 2rem;
    padding:150px 0 0 0;
}

/*Button*/
.btn{
    display: inline-block;
    text-decoration: none;
}

.btn-rectangle-men:link,
.btn-rectangle-men:visited
{
    
    box-shadow: inset -250px 0 0 0 #fff;
    border: 2px solid #fff;
    color: #000;
    text-align: center;
    padding: 15px 77px;
    font-size: 80%;
    margin: 20px 15px 50px 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-rectangle-wom:link,
.btn-rectangle-wom:visited
{
    box-shadow: inset -250px 0 0 0 #fff;
    border: 2px solid #fff;   
    color: #000;
    padding: 15px 77px;
    font-size: 80%;
    margin: 20px 0 50px 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-rectangle-men:hover,
.btn-rectangle-men:active
{
      box-shadow: inset 0 0 0 0 #fff;
      color: #fff !important;
}

.btn-rectangle-wom:hover,
.btn-rectangle-wom:active
{
      box-shadow: inset 0 0 0 0 #fff;
      color: #fff  !important;
}

.royal-title 
{
    font-size: 415%;
    margin: 50px 0 10px 0;
}

/*nav-bar*/
.nav-bar
{
    padding: 20px 0px 10px 0px;
    max-width: 100%;
    margin: auto;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    display: inline;
    box-shadow: inset 0px 0px 1000px #000;
}

.nav-bar a
{
    list-style: none;
    text-decoration: none;
    color: #fff;  
}

/* .offer
{
    color:white;
    text-decoration: none;
    height:6%;
    width:8%;
    text-align: center;
    background-color: #000;
    position: fixed;
    bottom:150;
    left:0;
    border-radius: 0 0 5px 5px;
    transition: height 0.3s;
   
}

.offer:hover
{
  height: 7%;
} */

.nav-right 
{ 
    float: right;
    
}

.nav-left
{
    float: left;
    margin-left: 50px;
}

.nav-right li 
{
    display: inline;
    margin-right: 35px;
    font-size: 90%;
   
}

.nav-left li 
{
    display: inline;
    margin-right: 35px;
    font-size: 90%;
    font-weight: 500;

}

.nav-right li a:hover
{
    text-decoration: none;
    color:#fff;
}
.nav-left li a:hover
{
    text-decoration: none;
    color:#fff;
}
.nav-bar img{
    color: #fff;
}

.title-greats
{
    text-transform: uppercase;
    font-size: 160%;
    letter-spacing: 4px;
    font-weight: 600;
    padding-bottom: 20px;

}

.nav-right li .dot
{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    height: 25px;
    text-align: center;
    padding:2px 0 0 0px;
    width: 25px;
    display: inline-block;
    
}
/*icon*/
.search-icon
{
    vertical-align: top;
}

/*section-Typeshoe*/
.section-Typeshoe
{
    max-width:80%;
    margin: auto;
    height: auto;
}

.opt-men
{
  
    color: #000;
    font-weight: 600;
    margin: 0px 60px 0px 500px;
    border-bottom: 1.5px solid #000;
    padding: 1rem;
}

.opt-men:hover
{
    text-decoration: none;
    color: #000;
}
.opt-wom
{
    text-decoration: none;
    color: #bbc9cd;
    font-weight: 600;
    margin: 0px 0px 90px 0px;
}
.opt-wom:hover
{
    text-decoration: none;
    color: #000;
}

.shoe-type p{
    text-align: center;
    margin-top: 2rem;
}

.section-Typeshoe img
{
    width: 100%;
    height: 100%;
    margin:10px 20px 15px 0;

}

.span-1-of-4
{
    width: 28.3%;
}

.btn-allmens
{
    box-shadow: inset -250px 0 0 0 #000;
    border: 2px solid #000;   
    color:#fff !important;
    font-size: 80%;
    margin: 80px 100px 0px 100px;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    border-radius: 0 !important;
}

.btn-allmens:hover

{
      box-shadow: inset 0 0 0 0 #000;
      color: #fff !important;
}